@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 67% 99%;
    --foreground: 0 24% 4%;
    --card: 0 67% 99%;
    --card-foreground: 0 24% 4%;
    --popover: 0 67% 99%;
    --popover-foreground: 0 24% 4%;
    --primary: 0 100% 25%;
    --primary-foreground: 0 67% 99%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 24% 4%;
    --muted: 0 67% 20%;
    --muted-foreground: 0 24% 70%;
    --accent: 45 100% 50%;
    --accent-foreground: 0 24% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 24% 4%;
    --border: 0 67% 20%;
    --input: 0 67% 20%;
    --ring: 45 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 60% 1%;
    --foreground: 0 24% 96%;
    --card: 0 60% 1%;
    --card-foreground: 0 24% 96%;
    --popover: 0 60% 1%;
    --popover-foreground: 0 24% 96%;
    --primary: 0 100% 75%;
    --primary-foreground: 0 60% 1%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 24% 96%;
    --muted: 0 61% 80%;
    --muted-foreground: 0 24% 96%;
    --accent: 45 100% 50%;
    --accent-foreground: 0 60% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 25% 10%;
    --border: 0 60% 60%;
    --input: 0 61% 80%;
    --ring: 45 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
